{#
 # This file is part of WebKeyPass.
 #
 # Copyright © 2013 Université Catholique de Louvain
 #
 # WebKeyPass is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # WebKeyPass is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with WebKeyPass.  If not, see <http://www.gnu.org/licenses/>.
 #
 # Author: Sébastien Wilmet
 #}

{% extends 'UCLWebKeyPassBundle::page.html.twig' %}

{% block body %}
  <div id="links">
    <ul class="actions">
      <li><a href="{{ path('ucl_wkp_root_view') }}">Quit Admin Zone</a></li>
      <li><a href="{{ path('ucl_wkp_logout') }}">Logout</a></li>
    </ul>
  </div>

  <h2>{{ title }}</h2>

  <table class="data">
    <tr>
      <th>User</th>
      <th>Is active</th>
      <th>Is admin</th>
      <th>Remove</th>
      <th>Edit</th>
    </tr>

    {% for user in users %}
      <tr>
        <td>{{ user.username }}</td>
        <td>
          {% if user.is_active %}
            Yes
          {% else %}
            No
          {% endif %}
        </td>
        <td>
          {% if user.is_admin %}
            Yes
          {% else %}
            No
          {% endif %}
        </td>
        <td>
          <a href="{{ path('ucl_wkp_admin_remove_user', user.remove_route_data) }}"
             onclick="return confirm ('Are you sure you want to remove the user &quot;{{ user.username }}&quot;?')">Remove</a>
        </td>
        <td>
          <a href="#">Edit</a>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
