{#
 # This file is part of WebKeyPass.
 #
 # Copyright © 2013 Université Catholique de Louvain
 #
 # WebKeyPass is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # WebKeyPass is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with WebKeyPass.  If not, see <http://www.gnu.org/licenses/>.
 #
 # Author: Sébastien Wilmet
 #}

{% extends 'UCLWebKeyPassBundle::page.html.twig' %}

{% block body %}
  <div id="side_panel">
    <form action="{{ path('ucl_wkp_search') }}" method="post" {{ form_enctype(search_form) }}>
      {{ form_errors(search_form) }}
      {{ form_errors(search_form.search_text) }}
      {{ form_widget(search_form.search_text) }}
      {{ form_rest(search_form) }}
      <input type="submit" value="Search" />
    </form>

    <ul>
      {{ include('UCLWebKeyPassBundle::tree_view.html.twig', {'nodes': nodes}) }}
    </ul>
  </div>

  <div id="links">
    <ul class="actions">
      {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('ucl_wkp_admin_user_list') }}">Admin Zone</a></li>
      {% endif %}

      <li><a href="{{ path('ucl_wkp_edit_user') }}">Edit Account</a></li>
      <li><a href="{{ path('ucl_wkp_logout') }}">Logout</a></li>
    </ul>
  </div>

  <div id="contents">
    {% block page_title %}
    {% endblock %}

    {% for flashMessage in app.session.flashbag.get('notice') %}
      <div class="flash-notice">
        {{ flashMessage }}
      </div>
    {% endfor %}

    {% block contents %}
    {% endblock %}
  </div>
{% endblock %}
