{#
 # This file is part of WebKeyPass.
 #
 # Copyright © 2013 Université Catholique de Louvain
 #
 # WebKeyPass is free software: you can redistribute it and/or modify
 # it under the terms of the GNU General Public License as published by
 # the Free Software Foundation, either version 3 of the License, or
 # (at your option) any later version.
 #
 # WebKeyPass is distributed in the hope that it will be useful,
 # but WITHOUT ANY WARRANTY; without even the implied warranty of
 # MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 # GNU General Public License for more details.
 #
 # You should have received a copy of the GNU General Public License
 # along with WebKeyPass.  If not, see <http://www.gnu.org/licenses/>.
 #
 # Author: Sébastien Wilmet
 #}

{% extends 'UCLWebKeyPassBundle::base.html.twig' %}

{% block page_title %}
  <h2>
    {{ include('UCLWebKeyPassBundle::path.html.twig', {'path': path}) }}
  </h2>
{% endblock %}

{% block contents %}
  <h3>Actions</h3>
  <ul class="actions">
    {% for action in actions %}
      <li>
        <a href="{{ path(action.route, action.route_data) }}"
          {% if action.name == 'Remove' %}
            onclick="return confirm ('Are you sure you want to remove the item &quot;{{ title }}&quot;?')"
          {% endif %}
        >
          {{ action.name }}
        </a>
      </li>
    {% endfor %}
  </ul>
  <div style="clear: both;"></div>

  <h3>Information</h3>
  <table>
    {% for info in infos %}
      <tr>
        <td>{{ info.title }}</td>
        <td>{{ info.content | raw }}</td>
      </tr>
    {% endfor %}

    {% for auth in authentications %}
      <tr>
        <td>Login</td>
        <td>
          <span class="login">{{ auth.login }}</span>
          <span id="password{{ loop.index }}" style="display: none">{{ auth.password }}</span>
          <ul class="actions auth_actions">
            <li><a href="{{ auth.edit_url }}">Edit</a></li>
            <li><a href="{{ auth.remove_url }}" onclick="return confirm ('Are you sure you want to remove the login/password?')">Remove</a></li>
            <li><a id="showHide{{ loop.index }}" href="javascript:toggle ('password{{ loop.index }}', 'showHide{{ loop.index }}');">Show Password</a></li>
          </ul>
        </td>
      </tr>
    {% endfor %}
  </table>

  <script language="javascript">
  function toggle (passwordId, showHideId)
  {
      var ele = document.getElementById (passwordId);
      var text = document.getElementById (showHideId);
      if (ele.style.display == "inline")
      {
          ele.style.display = "none";
          text.innerHTML = "Show Password";
      }
      else
      {
          ele.style.display = "inline";
          text.innerHTML = "Hide Password";
      }
  }
  </script>
{% endblock %}
